@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

*{
    font-family: Roboto, sans-serif;
}

body{
    margin: 0;
    background: #14213D;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: #FFFFFF;
    font-size: 40px;
    height: 60px;
}

#adder {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#adder button {
    border: none;
    background: #E5E5E5;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: larger;
}

main {
    display: grid;
    grid-template: repeat(auto-fit, minmax(200px ,100%))/ repeat(auto-fit, minmax(100px, 400px));
    gap: 10px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E5E5;
    border-radius: 20px;
    padding: 10px 2px;
    font-size: 15px;
}

.book button {
    width: 90%;
    height: 40px;
    padding: 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    background: hsl(230, 42%, 83%);
    color: rgb(24, 21, 37);
    font-size: 15px;
    text-align: center;
}

.book .bookbtn {
    background: rgb(16, 146, 66);
    color: white;
}

.book h3 {
    margin: 5px 2px;
    background: #c4c4c48f;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#bookmenu {
    display: none;
    position: absolute;
    top: 45%;
    flex-flow: column;
    background:#E5E5E5;
    padding:3% 2.5%;
    border-radius: 20px;
}

#bookmenu label {
    font-size: 12px;
    display: inline;
}

#bookmenu input {
    margin: 2px 0;
    border: none;
    padding: 4px 2px;
    border-radius: 3px;
}

#ReadBooler {
    margin: 5px 2px;
    font-size: 12px;
}

#CancelAdd, #SubmitAdd {
    border: none;
    margin: 3px 2px;
    padding: 5px 2px;
}

#Submitter #CancelAdd {
    background: rgb(160, 37, 37);
    color: #FFF;
}

#Submitter #SubmitAdd {
    background: rgb(19, 124, 36);
    color: #FFF;
}

#warnfill {
    margin: 2px 0 7px 0;
    padding: 5px 2px;
    border: solid 3px rgb(143, 42, 42);
    border-radius: 10px;
    background: rgba(252, 3, 3, 0.658);
    display: none;
    color: #FFF;
    font-size: 13px;
}